/* font-family: "Poppins", sans-serif; */
/* font-family: "Patrick Hand", cursive; */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --Yellow: #FFF9C4;
  --Green: #C8E6C9;
  --Pink: #FFCDD2;
  --Blue: #BBDEFB;
  --Lavender: #E1BEE7;
  --Orange: #faaf75;
  --Purple: #9973db;
  --Lemon : #FFF9C4;
  --Cream  : #FFE0B2;
  --Coral   : #FFCDD2;
  --Lilac    : #D7C6E6;
}
body{
  background: #d5bdaf;
}
#main{
  width: 1320px;
  margin: 100px auto;
  padding: 50px;
  background: #edede9;
  min-height: 500px;
}
#main h1{
  font-family: "Poppins", sans-serif; 
  color: #1b263b;
  font-size: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#main h1 span{
  color: #1b263b;
}
#main .add{
  padding: 15px 30px;
  font-size: 18px;
  border: 1px solid #cdb4db;
  border-radius: 15px;
  color: #1b263b;
  font-family: "Poppins", sans-serif; 
  margin: 30px 0;
  background: #E1BEE7;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
#main .add:hover{
  font-size: 18px;
  color: #1b263b;
  background: transparent;
  border: 1px solid #1b263b;
}
.notes{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 50px;
  align-items: flex-start;
}
.notes p{
  width: 30%;
  min-height: 250px;
  padding: 20px;
  padding-bottom: 45px;
  font-size: 22px;
  background: #C8E6C9;
  border-radius: 10px;
  font-family: "Patrick Hand", cursive;
  letter-spacing: 2px;
  position: relative;
}
.saveBtn{
  position: absolute;
  bottom: 2%;
  right: 10%;
  padding: 5px;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 100%;
  cursor: pointer;
}
.editBtn{
  position: absolute;
  display: none;
  bottom: 2%;
  right: 10%;
  padding: 5px;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 100%;
  cursor: pointer;
}
.delBtn{
  position: absolute;
  bottom: 2%;
  right: 2%;
  font-size: 12px;
  padding: 5px;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 100%;
  color: #1b263b;
  cursor: pointer;
}